.header-div{
  width: 100%;
  min-width: 1280px;
  background: #4292CF !important;
  padding: 0;
}

.logo {
  width:280px;
  height: 100%;
  font-size: 18px;
  float:left;
  background: #3473A9;
  padding: 0 20px;
  color: #ffffff;
}

.menu-right{
  float: right;

  .menu-item {
    display: inline-block;
    margin-right: 20px;
    color: #ffffff;
  }
}