.list-container{
    padding: 40px;

    .list-title-div{
        margin-bottom: 20px;

        .list-title{
            font-size: 18px;
        }

        .bn-add{
            float: right;
        }
    }

    .list-tables{
        .ant-table{
            border: 1px solid #cccccc;
        }

        .table-btns{
            button{
                margin-right: 10px;
            }
        }

        .user-usergroup{
            max-width: 400px;
        }
    }
}