body{
    min-width:1280px;
    background:#fff;
}
.ant-layout.ant-layout-has-sider{
    background:#fff;
}
.ant-layout{
    height: 100%;
}

.ant-layout-content{
    overflow: inherit !important;
    background: #fff;
}


.wapper_all{
    width:100%;
    min-height:100%;
    background:#fff;
    .headers{
        background: #F1F1F1;
        padding: 20px 30px;
        display: flex;
        justify-content:space-between;
    }
    .headersButton{
        background-color: #e5e5e5;
        background-image: none;
        text-shadow: none;
        font-size: 14px;
        color: #888881;
        cursor: pointer;
        outline: 0;
        filter: none;
        border: 0;
        box-shadow: none;
    }
    .title{
        font-size:20px;
        float:left;
    }
    .oTable{
        margin:20px;
        background:#fff;
        border-radius:6px;
        table{
            border:1px solid #ddd;
            border-bottom:0px;
            th{
                background:#ececec;
                font-weight: bold;
            }
            tbody>tr:nth-child(even)>td{
                background:#f9f9f9;
            }
            button{
                margin-right:10px;
                background:#4292CF ;
                color:#fff;
            }
        }
    }
    .ant-pagination{
        margin-right:10px;
    }
    .oBg{
        position: fixed;
        z-index:1000;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        background:#000;
        opacity:.6;
    }
    .oWindow{
        display:none;
        &.showoWindow{
            display:block;
        }
    }
    .sWindow{
        width:800px;
        height:480px;
        background:#fff;
        border-radius:10px;
        position:absolute;
        z-index:1200;
        left:50%;
        top:50%;
        margin-left:-400px;
        margin-top:-240px;
        box-shadow: 3px 3px 3px  #d9d9d9;
        overflow:hidden;
        .oContent>div{
            margin:16px 0px 14px 30px;
            display:flex;
            >span{
                width:100px;
            }
            input{
                width:200px;
            }
        }
        .footer{
            position:absolute;
            bottom:0px;
            text-align:center;
            width:100%;
            padding:10px 0px;
            background:#f1f1f1;
            button{
                margin:10px;
                height:36px;
                line-height:36px;
                width:80px;
            }
        }
    }
}