body{
    min-width:1280px;
    background:#fff;
}
.xt{
    height:100%;
}
.ant-layout.ant-layout-has-sider{
    background:#fff;
}
.ant-layout{
    height: 100%;
}

.ant-layout-content{
    overflow: hidden !important;
    background: #fff;
}


.wapper_all{
    width:100%;
    min-height:100%;
    background:#fff;
    .headers{
        background: #F1F1F1;
        padding: 20px 30px;
        display: flex;
        justify-content:space-between;
    }
    .headersButton{
        background-color: #e5e5e5;
        background-image: none;
        text-shadow: none;
        font-size: 14px;
        color: #888881;
        cursor: pointer;
        outline: 0;
        filter: none;
        border: 0;
        box-shadow: none;
    }
    .title{
        font-size:20px;
        float:left;
    }
    .oTable{
        margin:20px;
        background:#fff;
        border-radius:6px;
        table{
            border:1px solid #ddd;
            border-bottom:0px;
            th{
                background:#ececec;
                font-weight: bold;
            }
            tbody>tr:nth-child(even)>td{
                background:#f9f9f9;
            }
            button{
                margin-right:10px;
                background:#4292CF ;
                color:#fff;
            }
        }
    }
    .ant-pagination{
        margin-right:10px;
    }
    
}