.SubMenu{
    padding-left: 0 !important;

    .ant-menu-submenu-title{
        padding-left: 12px !important;
    }
}

.MenuItem{
    padding-left: 24px !important;
}

.s_table {
    flex:1;
    .ant-table-wrapper{
        margin:10px;
    }
}
