.user-container{
    padding: 40px;

    .user-title-div{
        margin-bottom: 20px;

        .user-title{
            font-size: 18px;
        }

        .bn-add-user{
            float: right;
        }
    }

    .user-tables{
        .ant-table{
            border: 1px solid #cccccc;
        }
    }
}

    .ant-select-dropdown {
        z-index:10000 !important;
    }
    .oBg{
        position: fixed;
        z-index:900;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        background:#000;
        opacity:.6;
    }
    .oWindow{
        display:none;
        &.showoWindow{
            display:block;
        }
    }
    .sWindow{
        width:800px;
        height:480px;
        background:#fff;
        border-radius:10px;
        position:absolute;
        z-index:901;
        left:50%;
        top:50%;
        margin-left:-400px;
        margin-top:-240px;
        box-shadow: 3px 3px 3px  #d9d9d9;
        overflow:hidden;
        .oContent>div{
            margin:16px 0px 14px 30px;
            display:flex;
            >span{
                width:100px;
            }
            input{
                width:200px;
            }
        }
        .footer{
            position:absolute;
            bottom:0px;
            text-align:center;
            width:100%;
            padding:10px 0px;
            background:#f1f1f1;
            button{
                margin:10px;
                height:36px;
                line-height:36px;
                width:80px;
            }
        }
    }