.user-container{
    padding: 40px;

    .user-title-div{
        margin-bottom: 20px;

        .user-title{
            font-size: 18px;
        }

        .bn-add-user{
            float: right;
        }
    }

    .user-tables{
        .ant-table{
            border: 1px solid #cccccc;
        }
    }
}